<div class="ui secondary segment">
  <h1 class="ui centered header">Contact information</h1>
</div>
<div class="ui hidden section divider"></div>

<div class="ui stackable grid">

<div class="ui container">
  <div class="ui secondary segment">
    <p class="ui green centered header"> Some very nice text here - Lorem Ipsum </p>
  </div>
</div>

<div class="ui hidden section divider"></div>

  <div class="nine wide column">

    <!--Embeded Google maps-->
    <div class="ui embed" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1170.0392443487792!2d22.294531646735322!3d60.449117850518846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468c76e7c3b0f5d5%3A0x3b0a3d5656fc4a23!2sICT-City!5e0!3m2!1sfi!2sfi!4v1518518375173"
      data-placeholder="" data-icon="right circle arrow">
    </div>

    <script>
      // For Google maps
      $('.ui.embed').embed();
    </script>

  </div>

  <div class="center aligned seven wide column">

    <div class="ui secondary segment">

      <img class="ui centered medium image" src="Resources/firmaLarge.png" alt="theFIRMA logo">
      <div class="ui hidden divider"></div>
      <div class="ui list">
        <div class="ui header">theFIRMA/ Turku University of Applied Scieneces</div>
        <div class="ui header">ICT-City Joukahaisenkatu 3-5 </div>
        <div class="ui header">20520 Turku</div>
        <div class="ui header">thefirma@edu.turkuamk.fi</div>
        <img class="ui centered medium image" src="Resources/tuas.png" alt="theFIRMA logo">
      </div>

    </div>
  </div>

</div>