<div id="wrapper">
    <div class="ui centered grid container">
        <div class="column">
            <h2 class="ui center aligned icon header">
                <i class="circular users icon"></i> Forgot password? </h2>
            <h1 class="ui header"> Password recovery</h1>
            <div class="ui  divider"></div>

            <form action="/forgot" method="post" class="ui large form" id="pasrecform">
                <div class="ui stacked secondary segment">
                    <div class="field">
                        <label> Email </label>
                        <input type="email" name="recEmail" placeholder="E-mail address" required>
                    </div>

                    <button class="ui fluid blue button" type="submit">Reset password</button>
                </div>
                <div class="ui message">

                    <a href="login.html">Back to login</a>
                </div>

            </form>
        </div>
    </div>
</div>